      
    <div class="container">
       
       
        <div class="py-5 text-center">
            <h1 class="jumbotron-heading">Login</h1>
            
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3" id="form_container">
                <form role="form" method="post" id="admin_login" method="POST" action="/admins/login">
                    <div class="row">                      
                        <div class="col-sm-6 offset-md-3 form-group">
                            <label for="login">
                                Login:</label>
                            <input type="login" class="form-control" id="login" name="login" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 offset-md-3 form-group">
                            <label for="password">
                                Password:</label>
                             <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                    </div>
                    


                    <div class="row">
                        <div class="col-sm-12 offset-md-3 form-group">
                            <button type="submit" class="btn btn-lg btn-default pull-right" >Login</button>
                        </div>
                    </div>

                </form>
               
            </div>
        </div>
    </div>
      
      